@font-face{
  font-family: Calculator;
  src: url(./font/Calculator.ttf);
}
*{
  margin : 0 ;
  padding : 0 ;
  box-sizing: border-box;
  font-family: Calculator;
}
body{
  background-color: #444;
}
.calculator{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: steelblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px #222;
}
.button{
  width: 75px;
  height: 75px;
  margin: 5px;
  font-size: 20px;
  background-color: white;
  outline: none;
}
.screen{
  margin: 20px 0;
  padding: 20px;
  text-align: end;
  background-color: white;
  height: 110px;
  font-size: 25px;
  border-radius: 5px;
  color: gray;
}
.button-pad{
  display: flex;
}
.col-2{
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 35px;
  color: black;
}